[submodule "lab-06"]
	path = lab-06
	url = git@github.com:giacomoarienti/unibo-lab06.git
[submodule "lab-07"]
	path = lab-07
	url = git@github.com:giacomoarienti/lab07.git
[submodule "lab-08"]
	path = lab-08
	url = git@github.com:giacomoarienti/lab08.git
[submodule "lab-09"]
	path = lab-09
	url = git@github.com:giacomoarienti/lab09.git
